  body{
    margin:0px;
  }
  .banner{
    background: #0089ff;
    height: 152px;
    width: 100%;
    text-align: center;

  }
  .header{
    font-size: 44px;
    margin: -5px 38px 13px;
    padding-top: 39px;
    color: lemonchiffon;
  }
  .menu-bar {
    background: lightgray;
  }

  ul.menu-bar li {
    float: left;
  }

  ul.menu-bar {
    margin-left: 40px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-right: 40px;
  }
  ul.menu-bar li a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
  }
  .desc{
    margin-left: 55px;
    margin-top: 30px;
    margin-right: 40px;
  }

  .desc_image{
    height: 344px;
    width: 425px;
    margin-right: 10px;
  }
  .footer {
      background: #fff;
      height: 50px;
      width: 100%;
  }